@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Inter, sans-serif;
  --font-mono: monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.1371 0.036 258.5258);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1371 0.036 258.5258);
  --popover: oklch(1 0 0);
  --primary: oklch(0.473 0.1362 253.3353);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.9684 0.0068 247.8951);
  --secondary-foreground: oklch(0.2079 0.0399 265.7275);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9684 0.0068 247.8951);
  --accent-foreground: oklch(0.2079 0.0399 265.7275);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --border: oklch(0.929 0.0126 255.5317);
  --input: oklch(0.929 0.0126 255.5317);
  --ring: oklch(0.473 0.1362 253.3353);
  --chart-1: oklch(0.473 0.1362 253.3353);
  --chart-2: oklch(0.4924 0.2012 294.6386);
  --chart-3: oklch(0.7205 0.192 149.4926);
  --chart-4: oklch(0.8706 0.1703 93.2203);
  --chart-5: oklch(0.6368 0.2078 25.3259);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.1371 0.036 258.5258);
  --sidebar-primary: oklch(0.473 0.1362 253.3353);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.9684 0.0068 247.8951);
  --sidebar-accent-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-border: oklch(0.929 0.0126 255.5317);
  --sidebar-ring: oklch(0.473 0.1362 253.3353);
  --destructive-foreground: oklch(0.9848 0 0);
  --font-sans: Inter, sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --shadow-color: 0 0 0;
  --shadow-opacity: 0.05;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0rem;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px 0px hsl(0 0 0 / 0.03);
  --shadow-xs: 0px 2px 8px 0px hsl(0 0 0 / 0.03);
  --shadow-sm: 0px 2px 8px 0px hsl(0 0 0 / 0.05), 0px 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow: 0px 2px 8px 0px hsl(0 0 0 / 0.05), 0px 1px 2px -1px hsl(0 0 0 / 0.05);
  --shadow-md: 0px 2px 8px 0px hsl(0 0 0 / 0.05), 0px 2px 4px -1px hsl(0 0 0 / 0.05);
  --shadow-lg: 0px 2px 8px 0px hsl(0 0 0 / 0.05), 0px 4px 6px -1px hsl(0 0 0 / 0.05);
  --shadow-xl: 0px 2px 8px 0px hsl(0 0 0 / 0.05), 0px 8px 10px -1px hsl(0 0 0 / 0.05);
  --shadow-2xl: 0px 2px 8px 0px hsl(0 0 0 / 0.13);
  --tracking-normal: 0rem;
}

.dark {
  --background: oklch(0.1371 0.036 258.5258);
  --foreground: oklch(0.9838 0.0035 247.8583);
  --card: oklch(0.1371 0.036 258.5258);
  --card-foreground: oklch(0.9838 0.0035 247.8583);
  --popover: oklch(0.1371 0.036 258.5258);
  --popover-foreground: oklch(0.9838 0.0035 247.8583);
  --primary: oklch(0.6232 0.1879 259.7964);
  --primary-foreground: oklch(0.2079 0.0399 265.7275);
  --secondary: oklch(0.28 0.0369 259.974);
  --secondary-foreground: oklch(0.9838 0.0035 247.8583);
  --muted: oklch(0.28 0.0369 259.974);
  --muted-foreground: oklch(0.7107 0.0351 256.7877);
  --accent: oklch(0.28 0.0369 259.974);
  --accent-foreground: oklch(0.9838 0.0035 247.8583);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --border: oklch(0.28 0.0369 259.974);
  --input: oklch(0.28 0.0369 259.974);
  --ring: oklch(0.6232 0.1879 259.7964);
  --chart-1: oklch(0.6232 0.1879 259.7964);
  --chart-2: oklch(0.4924 0.2012 294.6386);
  --chart-3: oklch(0.7205 0.192 149.4926);
  --chart-4: oklch(0.8706 0.1703 93.2203);
  --chart-5: oklch(0.3959 0.1331 25.7205);
  --sidebar: oklch(0.1371 0.036 258.5258);
  --sidebar-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-primary: oklch(0.6232 0.1879 259.7964);
  --sidebar-primary-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-accent: oklch(0.28 0.0369 259.974);
  --sidebar-accent-foreground: oklch(0.9838 0.0035 247.8583);
  --sidebar-border: oklch(0.28 0.0369 259.974);
  --sidebar-ring: oklch(0.6232 0.1879 259.7964);
  --destructive-foreground: oklch(0.9838 0.0035 247.8583);
  --radius: 0.5rem;
  --font-sans: Inter, sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --shadow-color: 0 0 0;
  --shadow-opacity: 0.2;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0rem;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 12px 0px hsl(0 0 0 / 0.1);
  --shadow-xs: 0px 4px 12px 0px hsl(0 0 0 / 0.1);
  --shadow-sm: 0px 4px 12px 0px hsl(0 0 0 / 0.2), 0px 1px 2px -1px hsl(0 0 0 / 0.2);
  --shadow: 0px 4px 12px 0px hsl(0 0 0 / 0.2), 0px 1px 2px -1px hsl(0 0 0 / 0.2);
  --shadow-md: 0px 4px 12px 0px hsl(0 0 0 / 0.2), 0px 2px 4px -1px hsl(0 0 0 / 0.2);
  --shadow-lg: 0px 4px 12px 0px hsl(0 0 0 / 0.2), 0px 4px 6px -1px hsl(0 0 0 / 0.2);
  --shadow-xl: 0px 4px 12px 0px hsl(0 0 0 / 0.2), 0px 8px 10px -1px hsl(0 0 0 / 0.2);
  --shadow-2xl: 0px 4px 12px 0px hsl(0 0 0 / 0.5);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}
